manifest_version = "3"

[package]
name = "demos::esp32_blink"
version = "0.1.0"

[module]
name = "demos::esp32_blink"
path = "esp32_blink.prime"
visibility = "pub"
no_std = true

[build]
# Classic ESP32 (Xtensa)
target = "xtensa-esp32-espidf"
platform = "esp32"

[build.runtime]
channel_slots = 12
channel_capacity = 12
task_slots = 12
recv_poll_ms = 2

[build.toolchain]
  cc = "xtensa-esp32-elf-gcc"
  ar = "xtensa-esp32-elf-ar"
  objcopy = "xtensa-esp32-elf-objcopy"
  esptool = "esptool"

  ld_script = "${IDF_PATH}/components/esp_system/ld/esp32/sections.ld"

  ld_flags = """-Wl,--gc-sections \
  -T${IDF_PATH}/components/esp_system/ld/esp32/memory.ld \
  -T${IDF_PATH}/components/esp_rom/esp32/ld/esp32.rom.ld \
  -T${IDF_PATH}/components/esp_rom/esp32/ld/esp32.rom.api.ld \
  -T${IDF_PATH}/components/esp_rom/esp32/ld/esp32.rom.libgcc.ld"""

[build.toolchain.env]
RUSTUP_TOOLCHAIN = "esp"
CARGO_TARGET_DIR = "${HOME}/.cache/prime-xtensa"
LLVM_SYS_201_PREFIX = "${HOME}/.espressif/tools/esp-clang/esp-clang"
LD_LIBRARY_PATH = "/usr/lib64:/usr/lib:/lib:${HOME}/.espressif/tools/esp-clang/esp-clang/lib"
PATH = "${HOME}/.espressif/tools/esp-clang/esp-clang/bin:${HOME}/.espressif/tools/xtensa-esp-elf/esp-15.2.0_20250929/xtensa-esp-elf/bin:${PATH}"
CARGO_TARGET_XTENSA_ESP32_ESPIDF_LINKER = "xtensa-esp32-elf-gcc"

[build.flash]
enabled = true
port = "/dev/ttyUSB0"
baud = 460800
address = "0x10000"
